.dashboard {
    display: flex;
}

.container--left {
    display: flex;
}

.card {
    padding: .5em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: lightblue;
}

.event__first {
    font-weight: bold;
    font-size: larger;
    background-color: #FFE8B3;
    padding: .5em;
}